:root {
    --kirby-height: 15rem;
    --kirby-width: 15rem;
}
* { box-sizing: border-box;} 

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
}

#gameboy {
    border: 4px solid black;
    position: fixed;
    width: 63%;
    min-width:63%;
    height: 70%;
    min-height:70%;
    top: 50px;
    left:320px;
    right:250px;
    z-index:991;  
    /* background:#f0ead6; */
    background:goldenrod;
}
#gameboyside {
    position: fixed;
    width: 75%;
    min-width:75%;
    height: 88%;
    min-height:88%;
    top: 0px;
    left:210px;
    right:230px;
    z-index:990; 
    border-radius: 2rem 2rem 7.5rem 2rem;
    background:#777777;
}

.container {
    margin: 0 auto;
    position:relative;
    border: 1px solid red;
}
#round {
    border-radius: 50%;
    min-height: var(--kirby-height);
    min-width: var(--kirby-width);
    background: linear-gradient(180deg, #f4a3b8, 50%, #f17998);
    position: fixed;
    z-index: 999;
    top: calc(60% - var(--kirby-height));
    left: 40%;
}
#face {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: calc(var(--kirby-height) / 2);
    min-width: 100%;
    width: 100%;
   

    /* border: 1px solid green; */
    
}

.eyes {
    border-radius: 70%;
    height: calc((var(--kirby-height) / 2) * 0.8);
    width: calc(var(--kirby-width) * .15);
    /* margin-left:0.6rem;
    margin-right: 0.6rem; */
    margin-top:1.5rem;
    background: black;
    border: 1px solid #ea7cc2;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}
#right-eye {
    margin-left:.1rem;
    margin-right: .6rem;
}
#left-eye {
    margin-left:.6rem;
    margin-right: .1rem;
}
.pupil {
    background: #f1f1f1;
    border-radius: 130%;
    min-height: 50%;
    min-width: 75%;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .3rem;
}

.cheek {
    background: #f3707f;
    border-radius:120%;
    margin-top: 45%;
    height: 20%;
    width:calc(var(--kirby-width) * .16);
}
#left-cheek {
    transform:rotate(20deg);
}
#right-cheek {
    transform: rotate(-20deg);
}

#mouth {
    border-radius: 10% 10% 50% 50%;
    width: calc(var(--kirby-width) * .15);
    height: calc(var(--kirby-height) *.2);
    background: #853054;
    border: 0.25rem solid black;
    margin-top: 47%;
    /* position: */
}

#tongue {
    border-radius: 100%;
    background: #f16669;
    min-height: 74%;
    margin-top: 47%;
    margin-left: -7.5%;
  
    width: 115%;
    border: .25rem solid black;   
}

#foot-container {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 0.2rem;
    min-width: calc(var(--kirby-width));
    position: fixed;
    z-index: 996;
    left: 40%;
    top:53%;
    
   
}

.feet {
    border-radius: 80% ;
    height:calc(var(--kirby-height)*.4);
    min-height:calc(var(--kirby-height)*.4);
    width:50%;
    background: #df003c;
    border:.2rem solid black;
}
#left-foot {
    transform: rotate(-20deg);
    animation-name:walk;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#right-foot {
    transform: rotate(20deg);
     animation-name:walk;
    animation-delay: .4s;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#border {
    height: calc(var(--kirby-height)*1.04);
    width: calc(var(--kirby-width)*1.04);
    min-height: calc(var(--kirby-height)*1.04);
    min-width: calc(var(--kirby-width)*1.04);
    position: fixed;
    z-index: 997;
    background: black;
    border-radius: 100%;
    left:39.75%;
    top: calc(59.4% - var(--kirby-height));
}

#arm-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(var(--kirby-width)*1.4);
    min-width: calc(var(--kirby-width)*1.4);
    min-height: calc(var(--kirby-height)*.5);
    height: calc(var(--kirby-height)*.5);
    left: 37.5%;
    margin-top: -5rem;
    position: fixed;
    z-index: 998;

}

.arm {
    background: #f38ca7;
    border-radius: 80%;
    border: .4rem solid black;
    min-width: 45%;
    min-height: 65%;
    height: 65%;
}
#right-arm {
    transform: rotate(40deg);
    animation-name: wave;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
#left-arm {
    transform:rotate(-40deg);

}

#gameover {
    display: none;
    font-family: sans-serif;
    font-size:4.8em;
    color: maroon;
    position:fixed; 
     z-index: 10000; 
     top: 100px;
     left: 700px;
     animation-duration: 1.5s;
     animation-name: fadeInDown;
     animation-fill-mode: forwards;
     
}

#age {
    color: black;
}
.age {

    color: black;
    top: 250px;
    left: 500px;
    position: fixed;
    z-index: 1000;
    font-size:2em;

}
#boredom {
    color: black;

}
.boredom {
    top: 500px;
    left: 500px;
    position: fixed;
    z-index: 1000;
    font-size:2em;
}
#hunger {
    color: black;

}
.hunger {
    top: 250px;
    left: 1150px;
    position: fixed;
    z-index: 1000;
    font-size:2em;
}
#sleepiness {
    color: black;

}
.sleepiness {
    top: 500px;
    left: 1150px;
    position: fixed;
    z-index: 1000;
    font-size:2em;
}

.buttons {
    font-size: .7em;
    opacity: .6;
    border:2px solid black;
}

#reload {
    position:fixed;
    top:210px;
    z-index:9999;
    left: 860px;
    display:none;
    animation-duration: 1.5s;
    animation-name: fadeInDown;
    animation-fill-mode: forwards;
}
#reset {
    font-size:1.3rem;
}

@keyframes fadeInDown {
    from{
    transform:translateY(0px);
    }
    to {
    transform:translateY(22px);
    }
}

@keyframes wave{
    from{
        transform:rotateZ(40deg);
    }
    to {
        transform:rotateZ(-40deg);
    }
}

#petname {
    position:fixed;
    top:150px;
    font-size: larger;
    left: 35%;
    z-index: 993;
}

#nameheader{
    display:none;
    position: fixed;
    z-index: 1000;
    top: 650px;
    left: 44.5%;
    color:maroon;
}
@keyframes walk {
    from{
        transform:rotateX(0deg)
    }
    to{
        transform:rotateX(60deg)
    }
}

#Nameofpet {
    font-size:1.3em;
}
#submit {
    font-size: 1.2em;
    border-radius: 8%;
    opacity:.6;
}
#namepet {
    font-size:1.2em;
    opacity:.6;
}

#dunce {
    width: 0;
    height:0;
    top:19%;
    left:37%;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 200px solid #f0ead6;
    border-radius: 50%;
    position:fixed;
    z-index: 1001;
    transform:rotateZ(-20deg);
    display:none;
    animation-name:duncecap;
    animation-duration: 1s;

}
#duncetext{
    font-size: 1.8em;
    transform:translateY(1.2em) rotateZ(90deg);
    font-family: "Comic Sans MS";
}

@keyframes duncecap {
    from{
        opacity:0;
        transform:translateY(-50px) rotateZ(-20deg);
    }
    to{
        opacity:1;
        transform:translateY(0px) rotateZ(-20deg);
    }
    
}